footer {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  background: #415391;
  height: auto;
  border-radius: 50px 50px 0 0;
  padding: 80px;
}
.first-row {
  color: white;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 30px;
}
.logo-with-caption {
  display: block;
}
.logo-with-caption figure {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  width: auto;
}
.logo-with-caption figure img {
  width: 60px;
  margin-right: 5px;
}
.logo-with-caption figure figcaption {
  font-weight: 600;
  font-size: 24px;
}
.logo-with-caption p {
  width: 300px;
  line-height: 1.2em;
}
.footer-menu {
  display: flex;
  gap: 80px;
}
.footer-menu h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.footer-menu nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-menu nav {
  font-weight: 400;
}
.footer-menu nav a {
  font-weight: 300;
  transition: color 0.3s ease-in-out;
}
.footer-menu nav a:hover {
  color: #ccc;
  cursor: pointer;
}

.social-media {
  display: flex;
  gap: 60px;
  margin-bottom: 20px;
}
.social-media i {
  color: white;
  font-size: 20px;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.social-media i:hover {
  color: #ccc;
  cursor: pointer;
}
footer hr {
  border: none;
  height: 1px;
  background-color: white;
  width: 100%;
}
footer .below-hr-text {
  display: flex;
  margin: 10px 50px;
  justify-content: space-between;
  font-size: 16.79px;
  color: white;
}

/* When the screen is 1158px and below, the footer menu row goes below the logo */
@media screen and (max-width: 1158px) {
  footer{
    gap: 30px;
  }
  .first-row {
    flex-direction: column;
    gap: 40px;
  }
  .footer-menu {
    margin-top: 15px;
  }
}

@media screen and (max-width: 622px) {
  .footer-menu {
    gap: 30px;
    margin-top: 15px;
    flex-direction: column;
  }
  footer .below-hr-text {
    flex-direction: column;
    justify-content: start;
    gap: 10px;
    align-items: start;
  }
}
