.image-container-uploader {
  width: 200px;
  height: 200px;
  color: #A5C759;
  border: 2px dashed  #A5C759;;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  font-size: 50px;
}
.image-container-uploader:hover {
  transform: scale(1.05);
  cursor: pointer;
}