.hamburger-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 55px;
  height: 40px;
  background: none;
  border: none;
  cursor: pointer;
}
.hamburger-button .bar {
  background-color: #405493;
  height: 6px;
  width: 100%;
  border-radius: 20px;
  transition:
    transform 0.3s ease-in-out,
    opacity 0.2s ease-in-out;
}
.hamburger-button.menu-open .top-bar {
  transform: translateY(13.5px) rotate(45deg);
}

.hamburger-button.menu-open .middle-bar {
  opacity: 0;
  transform: scale(0);
}
.hamburger-button.menu-open .bottom-bar {
  transform: translateY(-13.5px) rotate(-45deg);
}
.mobile-menu-sheet {
  position: absolute;
  width: 100%;
  height: 75vh;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  background: #a5c759;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  top: 100%;
  left: 0;
  transition: top 0.3s ease-in-out;
}
.mobile-menu-sheet nav{
  display: flex;
  width: 100%;
  padding: 20px;
}
.mobile-menu-sheet nav ul{
  display: flex;
  list-style: none;
  color: rgba(0, 0, 0, 0.56);
  flex-direction: column;
  width: 100%;
  gap: 20px;
}
.mobile-menu-sheet nav ul a{
  text-decoration: none;
  font-weight: 500;
  font-size: 21px;
  color: #FFFFFF;
  transition: color 0.3s ease;
}
.mobile-menu-sheet nav ul a:hover{
  color: #456206;
}
.mobile-menu-sheet nav ul hr{
  border: none;
  height: 2px;
  background-color: #456206;
}
@media (min-width: 1200px) {
  .hamburger-wrapper {
    display: none;
  }
}
