.inputField{
	width: 80%;
}
.variantSection{
	width: 50%;
}
.sizeInputSection{
  width: 100%;
  position: relative;
}
.sizeInputList{
  display: flex;
  width: 100%;
}
.sizeInputFieldDiv{
  display: flex;
  width: 50%;
  justify-content: space-between;
}
.sizeInputFieldDiv div{
  width: 70%;
}
.sizeUnitSelectDiv{
  position: absolute;
  right: 10px;
  top: -5px;
  gap: 10px;
  display: flex;
}
.productPriceSection{
  width: 35%;
}
.productSkuSection{
  width: 35%;
}
.productDescSection{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.toolbar{
  display: flex;
  width: 100%;
  gap: 20px;
}
.toolbar button{
  padding: 5px 10px;
  cursor: pointer;
}
.descriptionTextArea{
  border: solid 1px black;
  outline: none;
  height: 300px;
  padding: 10px;
}
.descError{
  font-weight: 500;
  font-size: 0.875rem;
  color: #e74c3c;
}
.inputProductImages{
  display: flex;
  flex-wrap: wrap;
  position: relativee;
  gap: 40px;
}
.addButton{
  cursor:pointer;
  position: absolute;
  border-radius: 50%;
  border: none;
  height: 50px;
  width: 50px;
  font-size: 20px;
  right: 50px;
}
.productSDSInputSection{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sdsContainer {
  display: flex;
  width: 30%;
  align-items: center;
  gap: 0.75rem;
  background-color: #f9f9f9;
  padding: 0.5rem 0.75rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.sdsContainer a {
  color: #0077cc;
  text-decoration: underline;
  font-size: 0.95rem;
}

.sdsContainer a:hover {
  color: #0055aa;
}

.sdsContainer button {
  background: none;
  border: none;
  color: #cc3333;
  font-size: 1.2rem;
  cursor: pointer;
}

.sdsContainer button:hover {
  color: #aa0000;
}
.inputTagsSection {
  position: relative;  
  width: 100%;
}
.tagInputFieldDiv{
  position: relative;
  display: flex;
  width: 100%;
  gap: 50px;
}