.productMetaDataSection {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 15px;
  padding: 20px 0;
}
.productMetaDataSection label,
.variantStatusSelectorLabel {
  margin-left: 12px;
  font-size: 16px;
  font-weight: 500;
  display: block;
  color: black;
}
.filterSelector {
  margin-left: 10px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  padding: 10px;
}
.inputProductInventoryDetails {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 15px;
  padding: 50px 0;
}
.variantItem {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  gap: 12px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 1rem;
  position: relative;
  background-color: #fafafa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
.sizePriceInventoryDiv {
  display: flex;
}
.removeVariantButton,.removeTagButton {
  position: absolute;
  top: 8px;
  right: 8px;
  background: red;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  font-size: 18px;
  cursor: pointer;
}
.variantSelector {
  width: 50%;
  margin-left: 10px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  padding: 10px;
}
.sizeUnitAddVariantDiv {
  display: flex;
  position: absolute;
  right: 10px;
  gap: 20px;
  top: 200px;
}
.addVariantButton {
  border-radius: 50%;
  border: none;
  font-size: 22px;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.inputField {
  width: 80%;
}
.variantSection {
  width: 50%;
}
.sizeInputSection {
  width: 100%;
  position: relative;
}
.sizeInputList {
  display: flex;
  width: 100%;
}
.sizeInputFieldDiv {
  display: flex;
  width: 50%;
  justify-content: space-between;
}
.sizeInputFieldDiv div {
  width: 70%;
}
.sizeUnitSelectDiv {
  position: absolute;
  right: 10px;
  top: -5px;
  gap: 10px;
  display: flex;
}
.productPriceSection {
  width: 35%;
}
.productSkuSection {
  width: 35%;
}
.productDescSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.toolbar {
  display: flex;
  gap: 10px;
}
.toolbar button {
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
}
.toolbar select {
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
}
.descriptionTextArea {
  border: solid 1px black;
  border-radius: 15px;
  outline: none;
  height: 300px;
  padding: 10px;
}

.inputProductImages {
  display: flex;
  flex-wrap: wrap;
  position: relativee;
  gap: 40px;
}
.addImageButton {
  cursor: pointer;
  position: absolute;
  border-radius: 50%;
  border: none;
  height: 50px;
  width: 50px;
  font-size: 20px;
  right: 50px;
}
.sdsInputLabel {
  font-size: 24px;
  margin-bottom: 5px;
}
.productSDSInputSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sdsContainer {
  display: flex;
  width: 30%;
  align-items: center;
  gap: 0.75rem;
  background-color: #f9f9f9;
  padding: 0.5rem 0.75rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.sdsContainer a {
  color: #0077cc;
  text-decoration: underline;
  font-size: 0.95rem;
}

.sdsContainer a:hover {
  color: #0055aa;
}

.sdsContainer button {
  background: none;
  border: none;
  color: #cc3333;
  font-size: 1.2rem;
  cursor: pointer;
}
.sdsContainer button:hover {
  color: #aa0000;
}
.inputTagsSection {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  width: 100%;
  gap: 50px;
}
.tagInputFieldDiv {
  position: relative;
  width: 30%;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 1rem;
  position: relative;
  background-color: #fafafa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
.addTagButton{
  border-radius: 50%;
  border: none;
  font-size: 22px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  position: absolute;
  top: -10px;
  right: 10px;
}