.aboutUs {
	display: flex;
	flex-direction: column;
	width: 100vw;
}

.firstSection {
	margin-top: 100px;
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.textArea {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 10%;
	gap: 40px;
	color: #777777;
}

.heading {
	font-size: 46.53px;
	margin: 0;
	font-weight: 500;
}

.paragraph {
	width: 700px;
	margin: 0;
	font-size: 21px;
	font-weight: 400;
}

.aboutImage {
	width: 55%;
	mask-image: linear-gradient(to left, white 2%, transparent 95%);
}

.missionVisionSection {
	display: flex;
	justify-content: center;
	background-color: #f7fceb;
	background-image: url("/public/assets/our_mission_vision_background.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	box-shadow: inset 0 0 1000px 350px #f7fceb;
}

.ovalContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 900px;
	height: 1000px;
	position: relative;
	z-index: 10;
	top: -50px;
	border: 1px solid black;
	background: white;
	border-radius: 50%;
}

.mission,
.vision {
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
	align-items: center;
}

.missionText,
.visionText {
	width: 500px;
	font-size: 25px;
	font-weight: 400;
	color: #777777;
	text-align: center;
}

.logoWrapper {
	width: 74px;
	height: 74px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 30px;
	background: #a5c759;
}
